.footer__column-links_item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 10px;
  display: inline-block;
}

.footer__column-links_item:last-child {
  padding-bottom: 16px;
}
